doctype 5
html(lang="en")
  head
    style
      body { background: #2222ff; font-size: 9px; font-family: sans-serif; margin: 0; text-align: center; font-weight: bold; line-height: 15px }
    script(type='text/javascript', src='/bronson/bronson.js')
    script(type='text/javascript')
      (function(){
        var bronson, userId, ping, getMode, $;
        $ = parent.$;
        bronson = new Bronson();
        userId = window.location.search.substr(1);
        bronson.on('connect',function(){
          document.body.style.background = '#00ffff';
          bronson.joinRoom('benchmark', userId);
        });
        bronson.on('room joined', function(data){
          if(userId != data.userId) return;
          document.body.style.background = '#00ff00';
          ping();
        });
        bronson.on('disconnect', function(){
          document.body.style.background = '#ff0000';
        });
        getMode = function(){
          return $('input:radio[name="run-type"]:checked', parent.document).val();
        };
        ping = function(){
          if(getMode() === 'ping') bronson.ping();
          else bronson.emit('emit', {
            path: '/bronson/admin/delay.test',
            data: '',
            broadcast: +new Date
          });
          setTimeout(ping, 1000 + Math.random()*1000);
        };
        bronson.on('pong', function(time){
          latency = new Date() - time;
          document.body.innerHTML = latency;
          if(latency < 100)
            document.body.style.background = '#00ff00';
          else if(latency < 250)
            document.body.style.background = '#ffff00';
          else
            document.body.style.background = '#dea300';
        });
        bronson.on('emit', function(data){
          var backendDelay;
          document.body.style.background = '#ff00ff';
          backendDelay = $.parseJSON(data.backendResponse.body).delay;
          document.body.innerHTML = "!" + (new Date() - data.broadcast - backendDelay);
        });
      })();
  body
